@model List<SupplierInformation>

@{
    ViewData["Title"] = "Search Results";
}

<div class="text-left">
    <h1>Search Results</h1>
    <h2>Here you can find temperature data for your chosen location from a number of providers</h2>
    <br />
    @Html.Partial("_SearchWidget")
    <br />
</div>

<div class="container">
    <div class="row">
        @foreach (var supplier in Model.GetRange(0, 2))
        {
            <div class="col-sm border box-styling">
                <p class="font-weight-bold">@supplier.Name</p>
                <p>@supplier.WeatherInformation</p>
            </div>
        }
    </div>
    <br />
    <div class="row">
        @foreach (var supplier in Model.GetRange(2, 1))
        {
            <div class="col-sm border box-styling">
                <p class="font-weight-bold">@supplier.Name</p>
                <p>@supplier.WeatherInformation</p>
            </div>
        }
        <div class="col-sm border box-styling">
            <p class="font-weight-bold">Other providers coming soon!</p>
        </div>
    </div>
</div>